@import './realize/variable.scss';
@import './realize/reset';
@import './realize/animation';
@import './realize/transition';
@import './vxe';


$sidebar-width: 210px;
:root{
  --el-fill-color: #3963bc ;
}

._llcol {
  color: $title-color;
}
.lin-container {
  .el-divider--horizontal {
    margin:0px;
  }
  .lin-title {
    height: 59px;
    line-height: 59px;
    color: $parent-title-color;
    font-size: 16px;
    font-weight: 500;
    text-indent: 40px;
    border-bottom: 1px solid #dae1ed;
  }

  .lin-wrap {
    padding: 20px;
  }
}
.pagination {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}
.main {
  padding: 15px;
  background-color: #fff;
}
